body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.my-classes-page {
    padding: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
}

.class-container {
  display: flex;        
  flex-wrap: wrap;       
  gap: 1rem;             
  justify-content: flex-start;  
}


.card-container{
    width:15rem;
    height:fit-content;
    border-radius: 1rem;
    box-shadow:0 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin:0.5rem;
    background-color: #fff;
    align-items: center;
}
.card-image{
    width:100%;
    border-radius: 1rem 1rem 0 0;
    height: 10rem;
    
}
.card-title{
    margin: 0.2rem;
    font-weight: bold;
}
.card-text,
.card-title{
    padding:0.2rem;
    font-size:0.8rem;
    text-align: center;
}
.card-link{
    width:90%;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}